/* Hero Section */

.hero-section {
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 30%,
      rgba(16, 18, 19, 0.86) 60%,
      rgba(24, 26, 28, 1) 100%
    ),
    url("../../images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 94px;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
  margin-bottom: 4rem;
}

.hero-content {
  display: flex;
  max-width: 1440px;
  width: 100%;
  flex-direction: column;
  gap: 40px;
  padding: 40px 80px;
}

.title-hero {
  max-width: 668px;
}

.btn-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-hero-group {
  width: 350px;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-primary {
  background: var(--color-primary-default);
  color: #fff;
}
.btn-primary:hover {
  background: var(--color-primary-hover);
}
.btn-primary:active {
  background: var(--color-primary-pressed);
}

.btn-secondary {
  background: var(--color-paper-background);
  color: #fff;
}
.btn-secondary:hover {
  background: var(--color-greyscale-800);
}
.btn-secondary:active {
  background: var(--color-greyscale-900);
}

/* Continue Section */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.content-film {
  position: relative;
  display: flex;
  align-items: center;
}
.list-film {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.list-film::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.list-film {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.film-continue {
  height: 162px;
  gap: 24px;
}

.film-top {
  gap: 28px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  top: 6.5rem;
}

button.btn-left,
button.btn-right {
  position: absolute;
  z-index: 10;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  border-radius: 24px;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 8px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.btn-left {
  left: -20px;
}

.btn-right {
  right: -20px;
}
/* ==================================== */
