.card-login {
  width: 33rem;
}

.login-subheader {
  text-align: center;
  margin-bottom: 1rem;
}

.register {
  display: flex;
  justify-content: space-between;
  color: var(--color-text-disabled-light);
}

.register a {
  margin-left: 0.5rem;
  color: #fff;
}

.btn-group p {
  color: var(--color-text-disabled-light);
}
