/* Navbar */
.navbar {
  background-color: var(--color-page-header-background);
  width: 100vw;
  height: 94px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  z-index: 1000;
}

.navbar img {
  width: 103px;
  height: 44px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-dropdown img {
  width: 14px;
  height: 8px;
}

.user-dropdown {
  display: block;
}

.user-dropdown-list {
  display: none;
}
/* ======================================= */

/* Hero */

/* ======================================== */
/* Card */
.card-login {
  background: #181a1cd6 84%;
  width: 529px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 37px;
  padding: 40px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
}
/* ======================================== */

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
input {
  background: var(--color-input-field-background);
  width: 449px;
  height: 50px;
  border-radius: 24px;
  padding: 14px 20px;
  border: 1px solid var(--color-input-border);
}

.login-subheader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 449px;
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 449px;
}

.input-password {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-password {
  position: absolute;
  top: 30%;
  right: 20px;
}
.register {
  display: flex;
  gap: 141px;
}
.register p {
  color: var(--color-text-disabled-light);
}

.register a {
  margin-left: 6px;
  color: #ffff;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 449px;
  height: 133px;
  gap: 8px;
}

.btn-group p {
  color: var(--color-text-disabled-light);
}

.btn-login {
  width: 449px;
  height: 50px;
  border-radius: 24px;
  background-color: var(--color-extra-background);
  border: 1px solid var(--color-outline-border);
  color: #fff;
}

.btn-login-google {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 449px;
  height: 50px;
  border-radius: 24px;
  background-color: transparent;
  border: 1px solid var(--color-outline-border);
  color: #fff;
  gap: 20px;
}
/* ============================================= */

/* Footer */
.footer-right,
.footer-center,
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 15px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 15px;
}

.footer-genre {
  display: flex;
  gap: 28px;
}
.footer-column ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: var(--color-text-secondary-light);
  gap: 13px;
}
/* ================================================== */
